	<form action="/pirates" method="POST">
  <label for="pirate[name]">Pirate Name: <input type="text" name="pirate[name]"></label><br>
  <label for="pirate[weight]">Pirate Weight: <input type="text" name="pirate[weight]"></label><br>
  <label for="pirate[height]">Pirate Height: <input type="text" name="pirate[height]"></label><br>
  <label for="ship_name_1">Ship Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></label><br>
  <label for="ship_type_1">Ship Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></label><br>
  <label for="ship_booty_1">Ship Booty: <input id="ship_booty_1" type="text" name="pirate[ships[][booty]"></label><br>
  <label for="ship_name_2">Ship Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></label><br>
  <label for="ship_type_2">Ship Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></label><br>
  <label for="ship_booty_2">Ship Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></label><br>
  <input type="submit" value="Submit">
</form>